<style>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: hsl(216, 28%, 93%);
}
section {
  min-height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.card {
  max-width: 30ch;
  background: #fff;
  line-height: 22px;
  padding: 1rem 1rem;
  border-radius: 3px;
  transition: transform 0.4s ease;
}
.card:hover {
  transform: translateY(-7px);
  -webkit-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.26);
}
.card-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.card-top i.fas {
  font-size: 7ch;
  color: blue;
}
.card-top span {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-title {
  font-size: 1.2rem;
  color: hsl(214, 18%, 23%);
  line-height: 22px;
  margin-bottom: 1rem;
}
.card-body {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.card-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: blue;
}
.card .btn-link {
  text-decoration: none;
  transition: 0.3s ease;
}
.card:hover .btn-link:hover {
  text-decoration: underline;
}
.card .card-action .fas {
  transition: 0.2s ease-in-out;
}
.card:hover .card-action .fas {
  transform: translateX(10px);
}
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet"> 
<h2 style="font-family: 'Noto Sans JP', sans-serif; text-align:center ; font-size:2rem;padding-top:100px;">2nd Year Reference Material </h2>

<section id="app" style="position:relative;top:-100px;">
  <div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Theory of Computation</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://repository.dinus.ac.id/docs/ajar/ethics_in_information_technology2c_5th_ed._0_.pdf" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

 <div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Social and Ethical aspects of IT</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://repository.dinus.ac.id/docs/ajar/ethics_in_information_technology2c_5th_ed._0_.pdf" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Program Logic Design in “C”</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://books.google.co.in/books?id=3fZa9af1KtYC&printsec=frontcover#v=onepage&q&f=true" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>computer architecture and organization by williams</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="http://staff.ustc.edu.cn/~llxx/cod/reference_books/Computer%20Organization%20and%20Architecture%209th.pdf" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>CAO (Wiley publications)</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="http://indexof.es/Computer/Fundamentals%20of%20Computer%20Organization%20and%20Architecture.pdf" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>2nd year syllabus [3rd+4th semesters]</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://www.nagpuruniversity.ac.in/links/Syllabus/UG/Faculty_of_Engineering_&_Tech/Computer__Technology.pdf" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Data Structures</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://www.academia.edu/28758384/Data_structures_using_c_2nd_reema_thareja">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Discrete Mathematics</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="http://discrete.openmathbooks.org/pdfs/dmoi-tablet.pdf">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Discrete Maths Notes</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://www.researchgate.net/publication/1922282_Discrete_Mathematics_for_Computer_Science_Some_Notes">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
</section>
<script>

</script>