<style>
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: hsl(216, 28%, 93%);
}
section {
  min-height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.card {
  max-width: 30ch;
  background: #fff;
  line-height: 22px;
  padding: 1rem 1rem;
  border-radius: 3px;
  transition: transform 0.4s ease;
}
.card:hover {
  transform: translateY(-7px);
  -webkit-box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 4px 15px 2px rgba(0, 0, 0, 0.26);
}
.card-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.card-top i.fas {
  font-size: 7ch;
  color: blue;
}
.card-top span {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-title {
  font-size: 1.2rem;
  color: hsl(214, 18%, 23%);
  line-height: 22px;
  margin-bottom: 1rem;
}
.card-body {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.card-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: blue;
}
.card .btn-link {
  text-decoration: none;
  transition: 0.3s ease;
}
.card:hover .btn-link:hover {
  text-decoration: underline;
}
.card .card-action .fas {
  transition: 0.2s ease-in-out;
}
.card:hover .card-action .fas {
  transform: translateX(10px);
}
</style>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet"> 
<h2 style="font-family: 'Noto Sans JP', sans-serif; text-align:center ; font-size:2rem;padding-top:100px;">4th Year Reference Material </h2>
<section id="app" style="position:relative;top:-100px;">
  <div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Compiler Design</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://drive.google.com/file/d/1PI5c9ADlmQT6oEk_qUpkZis3HpSvuNhq/view" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

 <div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Architecture of Web Application</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="http://bedford-computing.co.uk/learning/wp-content/uploads/2016/07/Web-Application-Architecture-Principles-Protocols-and-Practices.pdf" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Cloud Computing</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://www.academia.edu/34580947/CLOUD_COMPUTING_Principles_and_Paradigms_Edited_by" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Data Warehousing and Mining</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://mrcet.com/pdf/Lab%20Manuals/IT/DWDM%20Lecture%20Notes%20III-II.pdf">Download Here</a>
        <a href="http://myweb.sabanciuniv.edu/rdehkharghani/files/2016/02/The-Morgan-Kaufmann-Series-in-Data-Management-Systems-Jiawei-Han-Micheline-Kamber-Jian-Pei-Data-Mining.-Concepts-and-Techniques-3rd-Edition-Morgan-Kaufmann-2011.pdf">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="card-top">
        
        <span>Natural Language Processing</span>
      </div>
      <h2 class="card-title"></h2>
      <p class="card-body">
              </p>
      <div class="card-action">
        <a href="https://www.researchgate.net/publication/325772303_Natural_Language_Processing" class="btn-link">Download Here</a>
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>


</section>
<script>

</script>