<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<style>
* {
  font-family:sans-serif;  
}

body {
  background:#37bfe1;
  padding:50px;
}

h1 {
  color:#fff;
  text-align: center;
  font-size: 60px;
}

li {
  color:#fff;
  list-style:none;
  position: relative;
  padding-left:50px;
  line-height: 2;
  font-size:32px;
}

li:before {
  font-family:FontAwesome;
  position: absolute;
  left: 0;
  color:#318ca0;
  font-size:32px;
}

li.one:before {
   content:"\f111"; 
}
li.two:before {
   content:"\f00c";
}
li.three:before {
   content:"\f10c";
}
li.four:before {
   content:"\f004";
}
li.five:before {
   content:"\f1e2";
}
li.six:before {
   content:"\f0e7";
}

li:hover:before {
  color:#fff;
}
</style>
<body>
  <h1>
   2nd Year Subjects
  </h1>
  <ul>
    <li class="one">
      Applied Mathematics- III (CS/CT)
Scheme (Theory: 4 hrs, Tutorial: 1hr.)
    </li>
    <li class="two">
      BECT202T: Program Logic Design in “C”
    </li>
     <li class="three">
     BECT203T: Digital Circuits & Microprocessor
    </li>
    <li class="four">
BECT204T: Social and Ethical aspects of IT    </li>
    <li class="five">
      BECSE205T: Computer Architecture & Organization
    </li>
     <li class="six">
     BECSE206P: COMPUTER WORKSHOP LAB
    </li>
    <li class="six">
     BECSE207T: Environmental Engineering
    </li>
    <li class="one">
     DISCRETE MATHEMATICS AND GRAPH THEORY
    </li>
    <li class="two">
     BECT209T: Data Structures & Program Design
    </li>
     <li class="three">
     BECT203T: Digital Circuits & Microprocessor
    </li>
    <li class="four">
BECT210T: Advance Microprocessor and Interfacing   </li>
    <li class="five">
     BECSE211T: Theory of Computation
    </li>
     <li class="six">
     BECT212T: Introduction to Main-Frame Languages
    </li>
    <li class="six">
     BECSE207T: Environmental Engineering
    </li>
  </ul>
</body>