<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<style>
* {
  font-family:sans-serif;  
}

body {
  background:#37bfe1;
  padding:50px;
}

h1 {
  color:#fff;
  text-align: center;
  font-size: 60px;
}

li {
  color:#fff;
  list-style:none;
  position: relative;
  padding-left:50px;
  line-height: 2;
  font-size:32px;
}

li:before {
  font-family:FontAwesome;
  position: absolute;
  left: 0;
  color:#318ca0;
  font-size:32px;
}

li.one:before {
   content:"\f111"; 
}
li.two:before {
   content:"\f00c";
}
li.three:before {
   content:"\f10c";
}
li.four:before {
   content:"\f004";
}
li.five:before {
   content:"\f1e2";
}
li.six:before {
   content:"\f0e7";
}

li:hover:before {
  color:#fff;
}
</style>
<body>
  <h1>
    3rd Year Subjects
  </h1>
  <ul>
    <li class="one">
     Object Oriented Modeling
    </li>
    <li class="two">
      Database Management System
    </li>
     <li class="three">
    Operating system
    </li>
    <li class="four">
      Design and Analysis of Algorithms
    </li>
    <li class="five">
      Data Communication
    </li>
     <li class="six">
      Computer Graphics
    </li>
     <li class="one">
      Computer Network
    </li>
    <li class="two">
      Software Engineering and Project Management
    </li>
     <li class="three">
      Embedded System Design
    </li>
    <li class="four">
      Functional English
    </li>
    
  </ul>
</body>