<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<style>
* {
  font-family:sans-serif;  
}

body {
  background:#37bfe1;
  padding:50px;
}

h1 {
  color:#fff;
  text-align: center;
  font-size: 60px;
}

li {
  color:#fff;
  list-style:none;
  position: relative;
  padding-left:50px;
  line-height: 2;
  font-size:32px;
}

li:before {
  font-family:FontAwesome;
  position: absolute;
  left: 0;
  color:#318ca0;
  font-size:32px;
}

li.one:before {
   content:"\f111"; 
}
li.two:before {
   content:"\f00c";
}
li.three:before {
   content:"\f10c";
}
li.four:before {
   content:"\f004";
}
li.five:before {
   content:"\f1e2";
}
li.six:before {
   content:"\f0e7";
}

li:hover:before {
  color:#fff;
}
</style>
<body>
  <h1>
    4th Year Subjects
  </h1>
  <ul>
    <li class="one">
      Compilers
    </li>
    <li class="two">
      Artificial Intelligence
    </li>
     <li class="three">
      Computational Intelligence
    </li>
    <li class="four">
     Advanced Database Management Systems
    </li>
    <li class="five">
      Data Warehousing and Mining
    </li>
     <li class="six">
      Cyber and Information Security
    </li>
    <li class="one">
      Software Architecture
    </li>
    <li class="two">
      Natural Language Processing
    </li>
     <li class="three">
     Architecture of Web Application
    </li>
    <li class="four">
      Web Data Management
    </li>
    <li class="five">
      Cloud Computing
    </li>
   
  </ul>
</body>